body {
    font-family: 'Arial', sans-serif;
    background-color: var(--gray-level-1);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: var(--gray-level-2);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--black-shadow);
}

h1 {
    color: var(--white);
    margin-bottom: 1rem;
}

p {
    color: var(--gray-level-4);
    margin-bottom: 2rem;
}

.logout-button {
    background-color: var(--white);
    color: var(--gray-level-0);
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
    background-color: var(--red-level-1);
    color: var(--white);
}